# Portal log files
.portal-*.log

# Portal built binary
portal

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# wasm binaraies
*.wasm

# Dependency directories (remove the comment below to include it)
# vendor/

# misc
.DS_Store
dist/
.vscode