name: ci

on:
  push:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Go setup
        uses: actions/setup-go@v5
        with:
          go-version: 1.20.1

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          args: -v --timeout=5m -E misspell

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Go setup
        uses: actions/setup-go@v5
        with:
          go-version: 1.20.1

      - name: Build
        run: make build

  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Go setup
        uses: actions/setup-go@v5
        with:
          go-version: 1.20.1

      - name: Unit Test
        if: github.event_name == 'push'
        run: make test

      - name: E2E Test
        if: github.event_name == 'pull_request'
        env:
          PORTAL_VERSION: "v1.1.1" # version does not matter for outcome of test, just for building image
        run: make test-e2e

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          verbose: true

  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Go setup
        uses: actions/setup-go@v5
        with:
          go-version: 1.20.1

      - name: Build
        run: make build-wasm
